@charset "utf-8";
/* CSS Document */

.layout_left_style{
	width:200px;
	height:auto;
	position: relative;
	font-size: 16px;
	font-family: '微软雅黑';
	color: #006899;
	border-bottom:1px solid #002656;
}
.layout_left_title{
	width:160px;
	height:50px;
	line-height:50px;
	background: #0c3567;
	color: #fff;
	padding-left:40px;
	cursor: pointer;
	border-bottom:1px solid #0c3669;
	border-top:1px solid #123f75;
}
.layout_left_main{
	width:100%;
	height:auto;
	display: none;
	margin-bottom: 10px;
}
.layout_left_title_zi{
	width:155px;
	height:40px;
	line-height:40px;
	font-size: 14px;
	padding-left:45px;
	color:#fff;
	position: relative;
	cursor: pointer;
	margin-bottom: 3px;
}
.layout_left_title_zi:hover{
	background:#678EBD;
}
.layout_left_navcurrent{
	background:#b90d15;
	color:#fff;
}
.layout_left_zinavcurrent{
	background:#678EBD;
	color:#fff;
}

/* 子页面 */

.search {
	width: 280px;
	height: 40px;
	position: absolute;
	top: 110px;
	left: 70px;
	border:1px solid #d2d2d2;
	-moz-border-radius: 30px;      /* Gecko browsers */
    -webkit-border-radius: 30px;   /* Webkit browsers */
    border-radius:30px;            /* W3C syntax */
    overflow: hidden;
    cursor: pointer;
}
.search_button{
	width: 60px;
	height: 40px;
	color: #fff;
	background: #40b0ea;
	text-align: center;
	line-height: 40px;
	font-size: 14px;
	font-family: '微软雅黑';
	position: absolute;
	top: 0;
	right: 0;
}
.search input{
	width: 205px;
	height: 40px;
	border:0;
	color: #999999;
	font-size: 14px;
	font-family: '微软雅黑';
	position: absolute;
	top: 0;
	left: 15px;
	line-height: 40px;
}
.layout_right_content{
	width: 100%;
	height: auto;
	position: absolute;
	top: 100px;
	left: 0;
	padding-top: 100px;
}
.layout_right_add{
	width: 90px;
	height: 35px;
	background:#0c3567;
	-moz-border-radius: 5px;      /* Gecko browsers */
    -webkit-border-radius: 5px;   /* Webkit browsers */
    border-radius:5px;	         /* W3C syntax */
    line-height: 35px;
    text-align: center;
    font-size: 14px;
	font-family: '微软雅黑';
	color: #fff;
	border:1px solid #0c3567;
	
	margin-top:6px;
	margin-right:20px;
}
.layout_right_add_position{
	position: absolute;
    top: 50px;
    right: 200px;
}
.layout_right_add:hover{
	background:#678EBD;
	border-color:#678EBD;
	cursor: pointer;
}
.layout_right_del{
	width: 90px;
	height: 35px;
	-moz-border-radius: 5px;      /* Gecko browsers */
    -webkit-border-radius: 5px;   /* Webkit browsers */
    border-radius:5px;	         /* W3C syntax */
    line-height: 35px;
    text-align: center;
    font-size: 14px;
	font-family: '微软雅黑';
	color: #787878;
	border:1px solid #d2d2d2;
}
.layout_right_del_position{
	position: absolute;
    top: 50px;
    right: 70px;
}
.layout_right_del:hover{
	cursor: pointer;
	background: #eeeeee;
}
.layout_content{
	width: 100%;
	height: auto;
	margin-top:10px;
}
.layout_right_button{
	width: 90px;
	height: 35px;
	-moz-border-radius: 5px;      /* Gecko browsers */
    -webkit-border-radius: 5px;   /* Webkit browsers */
    border-radius:5px;	         /* W3C syntax */
    line-height: 35px;
    text-align: center;
    font-size: 14px;
	font-family: '微软雅黑';
	color: #787878;
	border:1px solid #d2d2d2;
	margin: 10px 10px 10px 20px;
}
.layout_right_button:hover{
	cursor: pointer;
	background: #eeeeee;
}
.table{
	width:80%;
	height: auto;
	margin: 0 auto;
}
.table.table_news{
	width:85%;
	height: auto;
	margin-left:0px;
}
.box_shadow_top{
	-moz-box-shadow:0px 5px 5px #a8a8a8 inset;              
    -webkit-box-shadow:0px 5px 5px #a8a8a8 inset;           
    box-shadow:0px 5px 5px #a8a8a8 inset; 
}
.add_box_a{
	width: 80%;
	padding-top: 30px;
	margin: 0 auto;
	padding-right: 30px;
}

.layout_right_del{
	width: 90px;
	height: 35px;
	-moz-border-radius: 5px;      /* Gecko browsers */
    -webkit-border-radius: 5px;   /* Webkit browsers */
    border-radius:5px;	         /* W3C syntax */
    line-height: 35px;
    text-align: center;
    font-size: 14px;
	font-family: '微软雅黑';
	color: #787878;
	border:1px solid #d2d2d2;
}
.layout_right_del:hover{
	cursor: pointer;
	background: #eeeeee;
}